<link rel="stylesheet" type="text/css" href="style.css" />
<!---<h1>Welcome to NodeJS from HTML file </h1>
<p> Jai Hind </p>
<img src="flag.jpg" /> -->
<center>
<h1>login form </h1>
<pre>
                 {{msg}}


<form action="/logincheck" method="post">
LoginID <input type="text" name="uid" />
Password <input type="password" name="pwd" />
<input type="submit" value="login" />
</form>
</pre>
</center>